@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
  overflow-x: hidden;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
  }
}